@model BuckTI.Models.CadSoftwares

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeSoftware)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeSoftware)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersaoSoftware)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersaoSoftware)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidadeSoftware)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidadeSoftware)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSoftware">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
