@model IEnumerable<BuckTI.Models.CadSoftwares>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p><br /></p>

<p class="bg-titulosmenucad">
    <a asp-action="Create">Cadastrar Novo</a>
</p>

<h1 class="text-center bg-titulosmenu">Softwares</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="text-white-50">Nome do Software</label>
                @*@Html.DisplayNameFor(model => model.NomeSoftware) *@
            </th>
            <th>
                <label class="text-white-50">Versão</label>
                @*@Html.DisplayNameFor(model => model.VersaoSoftware) *@
            </th>
            <th>
                <label class="text-white-50">Data de Validade</label>
                @* @Html.DisplayNameFor(model => model.ValidadeSoftware) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSoftware)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersaoSoftware)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidadeSoftware)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSoftware">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdSoftware">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSoftware">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
