@model BuckTI.Models.InventarioMaquinas

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja DELETAR?</h3>
<div>   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSoftware)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSoftware)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSetor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSetor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMaquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMaquina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroMaquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroMaquina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusMaquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusMaquina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoMaquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoMaquina)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMaquina" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a Lista</a>
    </form>
</div>
